.red {
    background-color: red;
    color: white;
}

#head {
    background-color: salmon;
}

.one {
    font-size: 25px;
    background-color: aquamarine;
    color: red;
}

.bg-blue {
    background-color: blue;
}